#mynetwork {
    height: 500px;
    background-color: aliceblue;
}

.CodeMirror {
    height: unset;
}

#socket {
    height: 20px;
    width: 20px;
    top: 0;
    left: 0;
    position: absolute;
}

.streambtn {
    margin-left: 2px;
    margin-right: 2px;
}

.field {
    font-family: monospace;
}